/**
 * @file
 * Custom CSS for the Digital Agency package.
 */

.view .views-view-grid-cols-3 {
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 48em) {
  .view .views-view-grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.view .views-view-grid .views-grid-box {
  border:  1px solid black;
  margin-bottom:  1rem;
}